<form [formGroup]="addForm" (ngSubmit)="addShout(addForm.value)">
    <p *ngIf="this.warn" class="alert alert-danger">{{this.warn}}</p>
    <div class="form-group">
        <p>Made by <b>{{this.share.that.userid}}</b></p>
        <p>Date <b>{{this.share.that.date}} {{this.share.that.time}}</b></p>
        <label>Paid by</label>
        <p><b *ngIf="!this.user">Please Select</b> <b>{{this.user}}</b></p>
        <button type="button" *ngFor="let item of this.share.members" style="display: block;" (click)="getUser(item.$key,item.name)" class="btn btn-light">{{item.name}}</button>
    </div>
    <div class="form-group">
        <label for="amount">Amount Paid</label>
        <input id="amount" type="number" class="form-control" formControlName="amount">
    </div>
    <button type="submit" class="btn btn-success">Add!</button>
</form>